[viewBag]
==

==
{% put styles %}

    <link href="{{ 'assets/css/megamenu.css'|theme }}" rel="stylesheet" />
{% endput %}
<nav id="mainNavBar" class="fixed w-full text-white z-50 h-12 sm:h-16 xl:h-20 flex">
  <div class="w-full mx-auto flex items-center justify-between px-1 lg:px-2 xl:px-20">
     <img class="h-4 sm:h-12 px-1" src="{{'assets/images/logo.svg'|theme}}">
  <svg class="h-12 w-12 px-1 xl:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/>
</svg>

     <ul class=" hidden xl:flex" >
       <li class="px-2  hoverable"><a class="relative block py-6 " href="#">Productos</a>
        <div class="mega-menu bg-gray-300  shadow-lg text-blue-industrial-1 ">
          <ul class="flex ">
            <li class="hoverable-1 pl-64">
              <a class="relative block p-4 " href="#">Productos Metalmecánica</a>
              <div class="mega-menu-1 bg-white  shadow-lg text-blue-industrial-1  p-4">
                <div class="flex ">
<div class="w-64 rounded overflow-hidden p-4 hover:shadow-xl">
  <img class="w-full" src="{{ 'assets/images/1-01.png'|theme }}" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Manta de Calentamiento </div>

  </div>

</div>
<div class="w-64 rounded overflow-hidden p-4 hover:shadow-xl">
  <img class="w-full" src="{{ 'assets/images/1-02.png'|theme }}" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Caja Reductora </div>

  </div>

</div>
<div class="w-64 rounded overflow-hidden p-4 hover:shadow-xl">
  <img class="w-full" src="{{ 'assets/images/1-03.png'|theme }}" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Horno Para Laboratorio </div>

  </div>

</div>
<div class="w-64 rounded overflow-hidden p-4 hover:shadow-xl">
  <img class="w-full" src="{{ 'assets/images/1-04.png'|theme }}" alt="Sunset in the mountains">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Cilindro Core Holder </div>

  </div>

</div>
</div>
              </div>
            </li>
            <li class="px-4">
              Productos Tecnológicos
            </li>
          </ul>
        </div>
      </li>
       <li class="px-2"><a class="relative block py-6">Servicios</a></li>
       <li class="px-2"><a class="relative block py-6">Soluciones</a></li>
       <li class="px-2"><a class="relative block py-6">La Empresa</a></li>
       <li class="px-2"><a class="relative block py-6">Contacto</a></li>
     </ul>
  </div>
 

</nav>